  .lst-kix_lpwtdaa47rwr-8>li:before {
            content: "\0025a0  "
        }
        .lst-kix_lpwtdaa47rwr-7>li:before {
            content: "\0025cb  "
        }
        .lst-kix_lpwtdaa47rwr-5>li:before {
            content: "\0025a0  "
        }
        ul.lst-kix_7bvsnhqgl45t-1 {
            list-style-type: none
        }
        .lst-kix_lpwtdaa47rwr-6>li:before {
            content: "\0025cf  "
        }
        ul.lst-kix_7bvsnhqgl45t-0 {
            list-style-type: none
        }
        .lst-kix_lpwtdaa47rwr-3>li:before {
            content: "\0025cf  "
        }
        .lst-kix_lpwtdaa47rwr-0>li:before {
            content: "\0025cf  "
        }
        .lst-kix_lpwtdaa47rwr-4>li:before {
            content: "\0025cb  "
        }
        .lst-kix_lpwtdaa47rwr-1>li:before {
            content: "\0025cb  "
        }
        .lst-kix_lpwtdaa47rwr-2>li:before {
            content: "\0025a0  "
        }
        .lst-kix_lf3u0t8674hb-6>li:before {
            content: "\0025cf  "
        }
        .lst-kix_lf3u0t8674hb-5>li:before {
            content: "\0025a0  "
        }
        .lst-kix_lf3u0t8674hb-7>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_wgwrfrev82qd-3 {
            list-style-type: none
        }
        ul.lst-kix_wgwrfrev82qd-2 {
            list-style-type: none
        }
        ul.lst-kix_wgwrfrev82qd-1 {
            list-style-type: none
        }
        ul.lst-kix_wgwrfrev82qd-0 {
            list-style-type: none
        }
        ul.lst-kix_wgwrfrev82qd-7 {
            list-style-type: none
        }
        ul.lst-kix_wgwrfrev82qd-6 {
            list-style-type: none
        }
        ul.lst-kix_wgwrfrev82qd-5 {
            list-style-type: none
        }
        .lst-kix_lf3u0t8674hb-3>li:before {
            content: "\0025cf  "
        }
        ul.lst-kix_wgwrfrev82qd-4 {
            list-style-type: none
        }
        .lst-kix_lf3u0t8674hb-4>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_wgwrfrev82qd-8 {
            list-style-type: none
        }
        ul.lst-kix_6zl6dv404wlc-3 {
            list-style-type: none
        }
        ul.lst-kix_7bvsnhqgl45t-3 {
            list-style-type: none
        }
        ul.lst-kix_6zl6dv404wlc-4 {
            list-style-type: none
        }
        ul.lst-kix_7bvsnhqgl45t-2 {
            list-style-type: none
        }
        ul.lst-kix_6zl6dv404wlc-5 {
            list-style-type: none
        }
        ul.lst-kix_7bvsnhqgl45t-5 {
            list-style-type: none
        }
        ul.lst-kix_6zl6dv404wlc-6 {
            list-style-type: none
        }
        ul.lst-kix_7bvsnhqgl45t-4 {
            list-style-type: none
        }
        ul.lst-kix_6zl6dv404wlc-7 {
            list-style-type: none
        }
        ul.lst-kix_7bvsnhqgl45t-7 {
            list-style-type: none
        }
        ul.lst-kix_6zl6dv404wlc-8 {
            list-style-type: none
        }
        ul.lst-kix_7bvsnhqgl45t-6 {
            list-style-type: none
        }
        ul.lst-kix_7bvsnhqgl45t-8 {
            list-style-type: none
        }
        ul.lst-kix_io5yrbimcyhs-4 {
            list-style-type: none
        }
        ul.lst-kix_io5yrbimcyhs-5 {
            list-style-type: none
        }
        ul.lst-kix_io5yrbimcyhs-2 {
            list-style-type: none
        }
        ul.lst-kix_io5yrbimcyhs-3 {
            list-style-type: none
        }
        .lst-kix_lf3u0t8674hb-8>li:before {
            content: "\0025a0  "
        }
        ul.lst-kix_io5yrbimcyhs-8 {
            list-style-type: none
        }
        ul.lst-kix_6zl6dv404wlc-0 {
            list-style-type: none
        }
        ul.lst-kix_6zl6dv404wlc-1 {
            list-style-type: none
        }
        ul.lst-kix_io5yrbimcyhs-6 {
            list-style-type: none
        }
        ul.lst-kix_6zl6dv404wlc-2 {
            list-style-type: none
        }
        ul.lst-kix_io5yrbimcyhs-7 {
            list-style-type: none
        }
        .lst-kix_xaraycano1zm-6>li:before {
            content: "\0025cf  "
        }
        .lst-kix_xaraycano1zm-8>li:before {
            content: "\0025a0  "
        }
        .lst-kix_xaraycano1zm-7>li:before {
            content: "\0025cb  "
        }
        .lst-kix_ob8bdgfwyxkv-6>li:before {
            content: "\0025cf  "
        }
        .lst-kix_xaraycano1zm-2>li:before {
            content: "\0025a0  "
        }
        .lst-kix_xaraycano1zm-4>li:before {
            content: "\0025cb  "
        }
        .lst-kix_ob8bdgfwyxkv-8>li:before {
            content: "\0025a0  "
        }
        ul.lst-kix_ml0a1odki9p-8 {
            list-style-type: none
        }
        ul.lst-kix_ml0a1odki9p-7 {
            list-style-type: none
        }
        .lst-kix_ob8bdgfwyxkv-7>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_ml0a1odki9p-6 {
            list-style-type: none
        }
        .lst-kix_xaraycano1zm-1>li:before {
            content: "\0025cb  "
        }
        .lst-kix_xaraycano1zm-5>li:before {
            content: "\0025a0  "
        }
        ul.lst-kix_ml0a1odki9p-5 {
            list-style-type: none
        }
        ul.lst-kix_ml0a1odki9p-4 {
            list-style-type: none
        }
        ul.lst-kix_ml0a1odki9p-3 {
            list-style-type: none
        }
        ul.lst-kix_ml0a1odki9p-2 {
            list-style-type: none
        }
        ul.lst-kix_ml0a1odki9p-1 {
            list-style-type: none
        }
        ul.lst-kix_ml0a1odki9p-0 {
            list-style-type: none
        }
        .lst-kix_xaraycano1zm-3>li:before {
            content: "\0025cf  "
        }
        .lst-kix_uku89r3axo3t-1>li:before {
            content: "\0025cb  "
        }
        .lst-kix_uku89r3axo3t-2>li:before {
            content: "\0025a0  "
        }
        .lst-kix_uku89r3axo3t-3>li:before {
            content: "\0025cf  "
        }
        .lst-kix_uku89r3axo3t-0>li:before {
            content: "\0025cf  "
        }
        .lst-kix_uku89r3axo3t-8>li:before {
            content: "\0025a0  "
        }
        .lst-kix_uku89r3axo3t-7>li:before {
            content: "\0025cb  "
        }
        .lst-kix_uku89r3axo3t-5>li:before {
            content: "\0025a0  "
        }
        .lst-kix_uku89r3axo3t-6>li:before {
            content: "\0025cf  "
        }
        .lst-kix_uku89r3axo3t-4>li:before {
            content: "\0025cb  "
        }
        .lst-kix_6zl6dv404wlc-0>li:before {
            content: "\0025cf  "
        }
        .lst-kix_6zl6dv404wlc-2>li:before {
            content: "\0025a0  "
        }
        ul.lst-kix_l41q66exe36j-0 {
            list-style-type: none
        }
        ul.lst-kix_l41q66exe36j-1 {
            list-style-type: none
        }
        ul.lst-kix_l41q66exe36j-2 {
            list-style-type: none
        }
        ul.lst-kix_l41q66exe36j-3 {
            list-style-type: none
        }
        .lst-kix_6zl6dv404wlc-8>li:before {
            content: "\0025a0  "
        }
        .lst-kix_wgwrfrev82qd-2>li:before {
            content: "\0025a0  "
        }
        .lst-kix_6zl6dv404wlc-4>li:before {
            content: "\0025cb  "
        }
        .lst-kix_6zl6dv404wlc-6>li:before {
            content: "\0025cf  "
        }
        .lst-kix_wgwrfrev82qd-0>li:before {
            content: "\0025cf  "
        }
        .lst-kix_io5yrbimcyhs-4>li:before {
            content: "\0025cb  "
        }
        .lst-kix_io5yrbimcyhs-6>li:before {
            content: "\0025cf  "
        }
        .lst-kix_z5rgmsbqx1cm-7>li:before {
            content: "\0025cb  "
        }
        .lst-kix_io5yrbimcyhs-8>li:before {
            content: "\0025a0  "
        }
        .lst-kix_io5yrbimcyhs-0>li:before {
            content: "\0025cf  "
        }
        .lst-kix_ob8bdgfwyxkv-5>li:before {
            content: "\0025a0  "
        }
        ul.lst-kix_l41q66exe36j-8 {
            list-style-type: none
        }
        .lst-kix_z5rgmsbqx1cm-5>li:before {
            content: "\0025a0  "
        }
        .lst-kix_z5rgmsbqx1cm-3>li:before {
            content: "\0025cf  "
        }
        ul.lst-kix_l41q66exe36j-4 {
            list-style-type: none
        }
        ul.lst-kix_l41q66exe36j-5 {
            list-style-type: none
        }
        ul.lst-kix_l41q66exe36j-6 {
            list-style-type: none
        }
        .lst-kix_ob8bdgfwyxkv-3>li:before {
            content: "\0025cf  "
        }
        ul.lst-kix_l41q66exe36j-7 {
            list-style-type: none
        }
        ul.lst-kix_ob8bdgfwyxkv-7 {
            list-style-type: none
        }
        ul.lst-kix_ob8bdgfwyxkv-6 {
            list-style-type: none
        }
        .lst-kix_io5yrbimcyhs-2>li:before {
            content: "\0025a0  "
        }
        .lst-kix_z5rgmsbqx1cm-1>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_ob8bdgfwyxkv-8 {
            list-style-type: none
        }
        .lst-kix_ob8bdgfwyxkv-1>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_ob8bdgfwyxkv-1 {
            list-style-type: none
        }
        ul.lst-kix_ob8bdgfwyxkv-0 {
            list-style-type: none
        }
        .lst-kix_ml0a1odki9p-7>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_ob8bdgfwyxkv-3 {
            list-style-type: none
        }
        ul.lst-kix_ob8bdgfwyxkv-2 {
            list-style-type: none
        }
        ul.lst-kix_ob8bdgfwyxkv-5 {
            list-style-type: none
        }
        ul.lst-kix_ob8bdgfwyxkv-4 {
            list-style-type: none
        }
        .lst-kix_ml0a1odki9p-5>li:before {
            content: "\0025a0  "
        }
        .lst-kix_ml0a1odki9p-1>li:before {
            content: "\0025cb  "
        }
        .lst-kix_ml0a1odki9p-3>li:before {
            content: "\0025cf  "
        }
        .lst-kix_lf3u0t8674hb-2>li:before {
            content: "\0025a0  "
        }
        .lst-kix_lf3u0t8674hb-0>li:before {
            content: "\0025cf  "
        }
        ul.lst-kix_i4b6nq7v162p-3 {
            list-style-type: none
        }
        ul.lst-kix_xaraycano1zm-0 {
            list-style-type: none
        }
        ul.lst-kix_i4b6nq7v162p-4 {
            list-style-type: none
        }
        .lst-kix_i4b6nq7v162p-8>li:before {
            content: "\0025a0  "
        }
        ul.lst-kix_i4b6nq7v162p-1 {
            list-style-type: none
        }
        ul.lst-kix_i4b6nq7v162p-2 {
            list-style-type: none
        }
        ul.lst-kix_xaraycano1zm-3 {
            list-style-type: none
        }
        ul.lst-kix_xaraycano1zm-4 {
            list-style-type: none
        }
        ul.lst-kix_i4b6nq7v162p-0 {
            list-style-type: none
        }
        ul.lst-kix_xaraycano1zm-1 {
            list-style-type: none
        }
        ul.lst-kix_xaraycano1zm-2 {
            list-style-type: none
        }
        ul.lst-kix_xaraycano1zm-7 {
            list-style-type: none
        }
        ul.lst-kix_xaraycano1zm-8 {
            list-style-type: none
        }
        .lst-kix_i4b6nq7v162p-4>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_xaraycano1zm-5 {
            list-style-type: none
        }
        ul.lst-kix_xaraycano1zm-6 {
            list-style-type: none
        }
        ul.lst-kix_i4b6nq7v162p-7 {
            list-style-type: none
        }
        .lst-kix_i4b6nq7v162p-6>li:before {
            content: "\0025cf  "
        }
        ul.lst-kix_i4b6nq7v162p-8 {
            list-style-type: none
        }
        ul.lst-kix_i4b6nq7v162p-5 {
            list-style-type: none
        }
        ul.lst-kix_i4b6nq7v162p-6 {
            list-style-type: none
        }
        .lst-kix_i4b6nq7v162p-0>li:before {
            content: "\0025cf  "
        }
        .lst-kix_i4b6nq7v162p-2>li:before {
            content: "\0025a0  "
        }
        .lst-kix_7bvsnhqgl45t-0>li:before {
            content: "\0025cf  "
        }
        .lst-kix_7bvsnhqgl45t-1>li:before {
            content: "\0025cb  "
        }
        .lst-kix_l41q66exe36j-5>li:before {
            content: "\0025a0  "
        }
        .lst-kix_l41q66exe36j-7>li:before {
            content: "\0025cb  "
        }
        .lst-kix_7bvsnhqgl45t-2>li:before {
            content: "\0025a0  "
        }
        .lst-kix_7bvsnhqgl45t-3>li:before {
            content: "\0025cf  "
        }
        .lst-kix_l41q66exe36j-2>li:before {
            content: "\0025a0  "
        }
        .lst-kix_l41q66exe36j-6>li:before {
            content: "\0025cf  "
        }
        .lst-kix_7bvsnhqgl45t-4>li:before {
            content: "\0025cb  "
        }
        .lst-kix_7bvsnhqgl45t-5>li:before {
            content: "\0025a0  "
        }
        .lst-kix_l41q66exe36j-1>li:before {
            content: "\0025cb  "
        }
        .lst-kix_l41q66exe36j-0>li:before {
            content: "\0025cf  "
        }
        .lst-kix_l41q66exe36j-8>li:before {
            content: "\0025a0  "
        }
        .lst-kix_l41q66exe36j-3>li:before {
            content: "\0025cf  "
        }
        .lst-kix_l41q66exe36j-4>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_lpwtdaa47rwr-0 {
            list-style-type: none
        }
        ul.lst-kix_lpwtdaa47rwr-1 {
            list-style-type: none
        }
        .lst-kix_z5rgmsbqx1cm-0>li:before {
            content: "\0025cf  "
        }
        ul.lst-kix_lpwtdaa47rwr-8 {
            list-style-type: none
        }
        ul.lst-kix_lpwtdaa47rwr-6 {
            list-style-type: none
        }
        ul.lst-kix_lpwtdaa47rwr-7 {
            list-style-type: none
        }
        ul.lst-kix_lpwtdaa47rwr-4 {
            list-style-type: none
        }
        ul.lst-kix_lpwtdaa47rwr-5 {
            list-style-type: none
        }
        ul.lst-kix_lpwtdaa47rwr-2 {
            list-style-type: none
        }
        ul.lst-kix_lpwtdaa47rwr-3 {
            list-style-type: none
        }
        .lst-kix_6dcwc8hszhp-1>li:before {
            content: "\0025cb  "
        }
        .lst-kix_6dcwc8hszhp-0>li:before {
            content: "\0025cf  "
        }
        .lst-kix_6dcwc8hszhp-2>li:before {
            content: "\0025a0  "
        }
        .lst-kix_wgwrfrev82qd-6>li:before {
            content: "\0025cf  "
        }
        .lst-kix_6dcwc8hszhp-8>li:before {
            content: "\0025a0  "
        }
        .lst-kix_wgwrfrev82qd-5>li:before {
            content: "\0025a0  "
        }
        .lst-kix_wgwrfrev82qd-7>li:before {
            content: "\0025cb  "
        }
        .lst-kix_6dcwc8hszhp-5>li:before {
            content: "\0025a0  "
        }
        .lst-kix_6dcwc8hszhp-4>li:before {
            content: "\0025cb  "
        }
        .lst-kix_wgwrfrev82qd-3>li:before {
            content: "\0025cf  "
        }
        .lst-kix_6dcwc8hszhp-3>li:before {
            content: "\0025cf  "
        }
        .lst-kix_wgwrfrev82qd-4>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_6dcwc8hszhp-5 {
            list-style-type: none
        }
        ul.lst-kix_6dcwc8hszhp-6 {
            list-style-type: none
        }
        .lst-kix_7bvsnhqgl45t-8>li:before {
            content: "\0025a0  "
        }
        ul.lst-kix_6dcwc8hszhp-7 {
            list-style-type: none
        }
        ul.lst-kix_6dcwc8hszhp-8 {
            list-style-type: none
        }
        ul.lst-kix_6dcwc8hszhp-1 {
            list-style-type: none
        }
        ul.lst-kix_6dcwc8hszhp-2 {
            list-style-type: none
        }
        .lst-kix_7bvsnhqgl45t-6>li:before {
            content: "\0025cf  "
        }
        .lst-kix_7bvsnhqgl45t-7>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_6dcwc8hszhp-3 {
            list-style-type: none
        }
        ul.lst-kix_6dcwc8hszhp-4 {
            list-style-type: none
        }
        .lst-kix_6dcwc8hszhp-6>li:before {
            content: "\0025cf  "
        }
        ul.lst-kix_6dcwc8hszhp-0 {
            list-style-type: none
        }
        .lst-kix_6dcwc8hszhp-7>li:before {
            content: "\0025cb  "
        }
        .lst-kix_wgwrfrev82qd-8>li:before {
            content: "\0025a0  "
        }
        .lst-kix_6zl6dv404wlc-1>li:before {
            content: "\0025cb  "
        }
        .lst-kix_6zl6dv404wlc-3>li:before {
            content: "\0025cf  "
        }
        .lst-kix_6zl6dv404wlc-7>li:before {
            content: "\0025cb  "
        }
        .lst-kix_6zl6dv404wlc-5>li:before {
            content: "\0025a0  "
        }
        .lst-kix_wgwrfrev82qd-1>li:before {
            content: "\0025cb  "
        }
        .lst-kix_io5yrbimcyhs-5>li:before {
            content: "\0025a0  "
        }
        .lst-kix_ob8bdgfwyxkv-0>li:before {
            content: "\0025cf  "
        }
        ul.lst-kix_lf3u0t8674hb-1 {
            list-style-type: none
        }
        ul.lst-kix_lf3u0t8674hb-0 {
            list-style-type: none
        }
        ul.lst-kix_lf3u0t8674hb-3 {
            list-style-type: none
        }
        ul.lst-kix_lf3u0t8674hb-2 {
            list-style-type: none
        }
        ul.lst-kix_lf3u0t8674hb-5 {
            list-style-type: none
        }
        ul.lst-kix_lf3u0t8674hb-4 {
            list-style-type: none
        }
        ul.lst-kix_lf3u0t8674hb-7 {
            list-style-type: none
        }
        ul.lst-kix_lf3u0t8674hb-6 {
            list-style-type: none
        }
        .lst-kix_xaraycano1zm-0>li:before {
            content: "\0025cf  "
        }
        .lst-kix_z5rgmsbqx1cm-6>li:before {
            content: "\0025cf  "
        }
        .lst-kix_io5yrbimcyhs-7>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_lf3u0t8674hb-8 {
            list-style-type: none
        }
        .lst-kix_z5rgmsbqx1cm-4>li:before {
            content: "\0025cb  "
        }
        .lst-kix_ob8bdgfwyxkv-4>li:before {
            content: "\0025cb  "
        }
        .lst-kix_io5yrbimcyhs-1>li:before {
            content: "\0025cb  "
        }
        .lst-kix_ob8bdgfwyxkv-2>li:before {
            content: "\0025a0  "
        }
        .lst-kix_io5yrbimcyhs-3>li:before {
            content: "\0025cf  "
        }
        .lst-kix_z5rgmsbqx1cm-2>li:before {
            content: "\0025a0  "
        }
        ul.lst-kix_z5rgmsbqx1cm-8 {
            list-style-type: none
        }
        ul.lst-kix_z5rgmsbqx1cm-7 {
            list-style-type: none
        }
        ul.lst-kix_z5rgmsbqx1cm-6 {
            list-style-type: none
        }
        ul.lst-kix_z5rgmsbqx1cm-5 {
            list-style-type: none
        }
        ul.lst-kix_z5rgmsbqx1cm-4 {
            list-style-type: none
        }
        ul.lst-kix_io5yrbimcyhs-0 {
            list-style-type: none
        }
        ul.lst-kix_z5rgmsbqx1cm-3 {
            list-style-type: none
        }
        ul.lst-kix_io5yrbimcyhs-1 {
            list-style-type: none
        }
        .lst-kix_ml0a1odki9p-8>li:before {
            content: "\0025a0  "
        }
        ul.lst-kix_z5rgmsbqx1cm-2 {
            list-style-type: none
        }
        ul.lst-kix_z5rgmsbqx1cm-1 {
            list-style-type: none
        }
        ul.lst-kix_z5rgmsbqx1cm-0 {
            list-style-type: none
        }
        .lst-kix_ml0a1odki9p-6>li:before {
            content: "\0025cf  "
        }
        .lst-kix_ml0a1odki9p-0>li:before {
            content: "\0025cf  "
        }
        .lst-kix_ml0a1odki9p-4>li:before {
            content: "\0025cb  "
        }
        .lst-kix_z5rgmsbqx1cm-8>li:before {
            content: "\0025a0  "
        }
        .lst-kix_lf3u0t8674hb-1>li:before {
            content: "\0025cb  "
        }
        .lst-kix_ml0a1odki9p-2>li:before {
            content: "\0025a0  "
        }
        ul.lst-kix_uku89r3axo3t-8 {
            list-style-type: none
        }
        ul.lst-kix_uku89r3axo3t-7 {
            list-style-type: none
        }
        .lst-kix_i4b6nq7v162p-7>li:before {
            content: "\0025cb  "
        }
        ul.lst-kix_uku89r3axo3t-6 {
            list-style-type: none
        }
        ul.lst-kix_uku89r3axo3t-5 {
            list-style-type: none
        }
        ul.lst-kix_uku89r3axo3t-4 {
            list-style-type: none
        }
        ul.lst-kix_uku89r3axo3t-3 {
            list-style-type: none
        }
        ul.lst-kix_uku89r3axo3t-2 {
            list-style-type: none
        }
        ul.lst-kix_uku89r3axo3t-1 {
            list-style-type: none
        }
        ul.lst-kix_uku89r3axo3t-0 {
            list-style-type: none
        }
        .lst-kix_i4b6nq7v162p-5>li:before {
            content: "\0025a0  "
        }
        .lst-kix_i4b6nq7v162p-1>li:before {
            content: "\0025cb  "
        }
        .lst-kix_i4b6nq7v162p-3>li:before {
            content: "\0025cf  "
        }
        ol {
            margin: 0;
            padding: 0
        }
        .c0 {
            margin-left: 36pt;
            padding-left: 0pt;
            direction: ltr;
            margin-right: -36pt
        }
        .c8 {
            margin-left: -36pt;
            text-indent: 36pt;
            direction: ltr;
            margin-right: -36pt
        }
        .c9 {
            margin-left: 72pt;
            padding-left: 0pt;
            direction: ltr;
            margin-right: -36pt
        }
        .c14 {
            background-color: #ffffff;
            max-width: 540pt;
            padding: 36pt 36pt 36pt 36pt
        }
        .c6 {
            direction: ltr;
            margin-right: -36pt;
            height: 11pt
        }
        .c10 {
            direction: ltr;
            margin-right: -36pt
        }
        .c3 {
            text-indent: -36pt;
            direction: ltr
        }
        .c1 {
            color: inherit;
            text-decoration: inherit
        }
        .c4 {
            padding: 0;
            margin: 0
        }
        .c7 {
            text-align: center;
            direction: ltr
        }
        .c16 {
            margin-left: 72pt
        }
        .c13 {
            font-size: 14pt
        }
        .c18 {
            margin-left: 36pt
        }
        .c5 {
            font-style: italic
        }
        .c15 {
            font-size: 12pt
        }
        .c12 {
            direction: ltr
        }
        .c2 {
            font-weight: bold
        }
        .c17 {
            text-indent: 36pt
        }
        .c11 {
            height: 11pt
        }
        .title {
            padding-top: 0pt;
            color: #000000;
            font-size: 21pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            text-align: left
        }
        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 13pt;
            padding-bottom: 10pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            font-style: italic;
            text-align: left
        }
        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        h1 {
            padding-top: 10pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            text-align: left
        }
        h2 {
            padding-top: 10pt;
            color: #000000;
            font-weight: bold;
            font-size: 13pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            text-align: left
        }
        h3 {
            padding-top: 8pt;
            color: #666666;
            font-weight: bold;
            font-size: 12pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            text-align: left
        }
        h4 {
            padding-top: 8pt;
            color: #666666;
            text-decoration: underline;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            text-align: left
        }
        h5 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            text-align: left
        }
        h6 {
            padding-top: 8pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 0pt;
            font-family: "Trebuchet MS";
            line-height: 1.15;
            font-style: italic;
            text-align: left
        }
 